* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1366px;
    background-color: #0D0E11;
    

}



section {


    
    background-image: url(assets/images/Background_Intro.png);

    background-size: cover;
    min-width:100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    

}


#intro {
    
    width: 680px;
    height: 327px;
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

header {
    
    width: 1040px;
    height: 447px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

    flex-direction: column;
    

}


#iconroll {
    margin-top: 94px;
    margin-bottom: 64.5px;
}


#avatar {
    
    width: 112px;
    height: 112px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;

    
}

#fotodev {
    
    border-radius: 100%; 
    width: 96px;
    height: 96px;

    justify-content: center;
    align-items: center;
    
    
    img {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        border: solid 2.4px #E3646E;
        padding: 4px
        
        
    }

   
}

#codeimage {
    position: absolute;
    overflow:visible;
    z-index:  1;
    right: 6px;
    bottom: 1px;
    width: 32px;
    height: 32px;
    background-image: url(assets/images/aaa.png);
    background-size: cover;
    object-fit: cover;


} 




:root {

    --h1: 800 24px/135% var(--font-family);

    /*Asap*/
    --font-family-asap: "Asap", sans-serif;
    --title-lg: 700 56px/120% var(--font-family-asap);
    --title-md: 700 24px/120% var(--font-family-asap);
    --title-sm: 700 16px/120% var(--font-family-asap);

    /*Inconsolata*/
    --font-family-inconsolata: "Inconsolata", monospace;
    --subtitle: 400 20px/120% var(--font-family-inconsolata);

    /*Maven Pro*/
    --font-family-maven: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-family-maven);
    --text-sm: 400 14px/140% var(--font-family-maven);

}

#subtitle {

    justify-self: center;

    font: var(--subtitle);
    color: #C0C4CE;

    span{
        color: #E3646E;
    }
}


#title-lg {
    margin-top: 8px;
    justify-self: center;
    stroke: none;
    font: var(--title-lg);
    color: #E2E4E9;

    
}


#text-sm {

    justify-self: center;
    margin-top: 20px;

    font: var(--text-sm);
    color: #878EA1;
    text-align: center;

}

#tags {
    margin-top: 80px;
    display: flex;
    gap: 16px;
    
}

.tagsconfig {
    background-color: #292C34;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
    text-align: center;
    font: var(--text-md);
    color: #C0C4CE;
    padding-inline: 16px;
    padding-block: 8px;

    border-radius: 20px;

}


#projects {

    
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-inline: 120px;
    padding-top: 72px;
    padding-bottom: 144px;
    background-color: #16181D;
    min-width: 100%;
    
    height: 917px;



}

#header {

    gap: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;

    #changecolor {
        color: #BB72E9;
    }

    span {
        font: var(--subtitle);
        color: #E3646E;
    }
    
    h3 {
    
        font: var(--title-md);
        color: #E2E4E9 ;
        
    }

    p {
        font: var(--text-sm);
    }



    

    
}




#grid {
    margin-top: 56px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}



.configcardgrid {
    background-color: #292C34;
    width: 330px;
    height: 280px;
    display: flex;
    flex-direction: column;

    padding: 12px;

    

    border-radius: 12px;

    img {
        width: 306px;
        height: 156px;
        align-self: center;
    }
    

    
}

.configservicescard {

    
    width: 280px;
    height: 155px;
    padding: 20px;
    gap: 20px;

    
    border: solid #16181D;
    border-radius: 12px;
    
    

}

#text {

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px;
    margin-top: 20px;

    h2 {
        font: var(--title-sm);
        color: #E2E4E9 ;
    }

    p {
        font: var(--text-sm);
        color: #C0C4CE;
        
    }
    
}

#services {
    background-color: #0D0E11;
    height: 480px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contacts {

    height: 787px;
    background-image: url(assets/images/background_footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-inline: 120px;
    padding-top: 128px;
    padding-bottom: 200px;

    
}

#links {
    
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}

.cardscontacts {
    
    &:hover {
        border: solid #3996DB;
        border-width: 1.5px;
        
        transition: 3s cubic-bezier(0, 0.5, 0, 3);
        
        
        


    }

    border-radius: 8px;
    width: 400px;
    height: 68px;
    background-color: #292C34;

    display: flex;

    justify-content: center;
    align-items: center;

    padding: 20px;
    gap: 12px;
    
    #icon {
        width: 23px;
        height: 23px;
    }

    span {
        font: var(--text-md);
        color: #C0C4CE;
        width: 288px;
        
    }

    #arrow {
      width: 11px;
      height: 11px;  
    }


}



